html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    color: var(--main-color-text-gray);
}

li{
    list-style-type: none;
}

:root{
    --main-color-text-gray:#757575;
    --accent-color-blue: #2196F3; 
    --background-color-white: #FFFFFF;
    --secondary-color-black: #212121;
    --bg-color-sektion: #2F303A;
    --bg-btn-color-white-gray: #F5F4FA;
}

.link{
    text-decoration: none;
    color: inherit;
}

.nav-text{
    color: var(--secondary-color-black);
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.color-here{
    color: var(--accent-color-blue);
}

.logo{
    font-family: 'raleway', 'sans-serif';
    color: var(--secondary-color-black);
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.03em;
}

.logo-blye{
    color: var(--accent-color-blue);
}

.link:focus,
.link:hover{
    color: var(--accent-color-blue);
}

.services{
    color: var(--secondary-color-black);
    background-color: var(--bg-btn-color-white-gray);
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    margin-right: 8px;
}

.inline-block li{
}

.inline-block .link{
}

.inline-block-btn li{
}

.services:hover{
    background-color: var(--accent-color-blue);
    color: var(--background-color-white);
}

.photo{
    border: 1px solid #EEEEEE;
}

.text-photo{
    color: var(--secondary-color-black);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em
}

.text-photo-gray{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.footer{
    background-color: var(--bg-color-sektion);
    font-style: normal;
}

.footer .logo{
    color: var(--background-color-white);
}
.map{
    color: var(--background-color-white);
}

.contact{
    color: rgba(255, 255, 255, 0.6);
}
