
:root{
    --main-color-text-gray:#757575;
    --accent-color-blue: #2196F3; 
    --background-color-white: #FFFFFF;
    --secondary-color-black: #212121;
    --bg-color-sektion: #2F303A;
    --bg-btn-color-white-gray: #F5F4FA;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}  

html{
    box-sizing: border-box;
}

body{
    font-family: 'roboto', 'sans-serif';
    font-size: 14px;
    color: var(--main-color-text-gray);
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
}

h1, h2, h3 {
    margin: 0px;
}

.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}



           /* header */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    align-items: center;
    display: flex;
}
           
.header .container{
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav{
    margin-right: auto;
}

.menu{
    display: inline-flex;
    
}

.nav-contact{
    display: inline-flex;
   
}

.nav-text .link{
    color: var(--secondary-color-black);
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
}    

.nav-text{
    margin-right: 50px;
}

.nav-text:last-child {
    margin-right: 0px;
}

.link-contact{
    margin-right: 50px;
}

.link-contact:last-child{
    margin-right: 0px;
}

.logo{
    font-family: 'raleway', 'sans-serif';
    color: var(--secondary-color-black);
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    margin-right: 100px;
}

.logo-blye{
    color: var(--accent-color-blue);
}





            /* hero */

.hero{
    background-color: var(--bg-color-sektion);
}

.hero-text{
    color: var(--background-color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.ability-headlines{
    color: var(--secondary-color-black);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 0.875;
    letter-spacing: 0.03em;  
}

.ability-text{
    font-size: 14px;
    line-height: 1.714; 
    letter-spacing: 0.03em;
}



            /* button */

.btn{
    background-color: var(--accent-color-blue);
    color: var(--background-color-white);
    width: 200px;
    height: 50px;    
}

.btn-text{
    font-size: 16px; 
    line-height: 1.875;
    letter-spacing: 0.06em;
} 






        /* link */
.link{
    text-decoration: none;
    color: inherit;
}

.link:focus,
.link:hover{
    color: var(--accent-color-blue);
}







            /* чем мы занимаемся */

.classes{
    color: var(--secondary-color-black);
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
}





            /* team */
            
.team{
    background: var(--bg-btn-color-white-gray);
}

.name{
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--secondary-color-black);
}

.profession{
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}





            /* footer */

.footer{
    background-color: var(--bg-color-sektion);
}

.footer .logo{
    color: var(--background-color-white);
}
.map{
    color: var(--background-color-white);
}

.contact{
    color: rgba(255, 255, 255, 0.6);
}
